.wrapper {
  display: inline-block;
  margin: auto;
}
.split-container,
.merge-container {
  text-align: center;
}
.two-halves {
  text-align: left;
  display: inline-block;
}
.icon {
  margin: 0px 10px;
  transform: scale(2, 2);
}
.algorithm{
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
}
.algorithm pre{
  max-height: 20vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 2px;
  max-width: 98%;
  display: inline-block;
}
.merge, .split{
  max-width: 50%;
  display: inline-block;
}