.wrapper {
  display: inline-block;
  margin: auto;
}
.split-container,
.merge-container {
  text-align: center;
}
.left-half, .right-half{
    display: flex;
}
.two-halves {
  text-align: left;
  display: inline-block;
}
.icon {
  margin: 0px 10px;
  transform: scale(2, 2);
}
