.shortest-path .init {
  height: auto;
}
.shortest-path .init .react-raphael {
  margin-bottom: 0px;
  margin-top: 20px;
}
.shortest-path .init .react-raphael .paper-container {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  margin: auto;
  text-align: center;
}

.shortest-path .actions input {
  font-size: 1em;
  height: auto;
  width: auto;
  float: right;
}
