
.list{
    font-size: 40px;
    display: inline-flex; 
    width: 70%;   
}
input{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    font-size: 40px;
    margin: 5px 10px 5px 5px;
}
.number{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #333a;
    justify-content: baseline;
    align-content: center;
    text-align: center;
    margin: 2px;
}
.actions{
    float: right;
}
.actions input {
    height: 30px;    
    font-size: 1em;

}