.btn{
    border: 1px solid black;
    box-shadow: 0xp 0px 4px;
    display: inline-block;
    margin: 2px;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.Step{
    position: relative;
    border: 1px solid grey;    
}
.step-no{
    display: inline-block;       
    box-sizing: border-box;
    min-width: 10%;
    margin: 1px;
    padding: 6px;
    border-radius: 5px;
    background: #696758;
    font-size: 1.2em;    
}
.Step .s-body{
    min-height: 100px;
    max-height: 300px;    
}